@import "tailwindcss";

@font-face {
  font-family: "JetBrains mono";
  src: url("./assets/fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf")
    format("woff2");
}

@theme {
  --font-sans: "JetBrains mono", serif;

  --color-grey-950: #08070b;
  --color-grey-900: #14131b;
  --color-grey-850: #18171f;
  --color-grey-800: #24232c;
  --color-grey-700: #54535b;
  --color-grey-600: #817d92;
  --color-grey-200: #e6e5ea;

  --color-green-200: #a4ffaf;
  --color-yellow-300: #f8cd65;
  --color-orange-400: #fb7c58;
  --color-red-500: #f64a4a;
}
